{% load static %}
<html>
    <head>
        <title>My blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">AVP's BLoGG</a></h1>
        </div>

        <div class="content container" >
    		<div class="row">
        		<div class="col-md-8">
            		<div class="post">
                        {% if post.published_date %}
                            <div class="date">
                                {{ post.published_date }}
                            </div>
                        {% endif %}
                        <h2 style="font-size: 40px">{{ post.title }}</h2>
                        <p style="font-size: 30px">{{ post.text|linebreaksbr }}</p>
                    </div>
        		</div>
    		</div>
		</div>
    </body>
</html>